// neutral WF, single locus: change pop. size and initial freq. -> look at Mutation Frequency Trajectories


// set up a simple neutral simulation
initialize() {
	initializeMutationRate(1e-7);
	
	// m1 mutation type: neutral
	initializeMutationType("m1", 0.5, "f", 0.0);
	
	// g1 genomic element type: uses m1 for all mutations
	initializeGenomicElementType("g1", m1, 1.0);
	
	// uniform chromosome of length 100 kb with uniform recombination
	initializeGenomicElement(g1, 0, 0);
	initializeRecombinationRate(1e-8);
	
	setSeed(3); // seed = 1 & freq. = 0.5 -> fixed
					// seed = 2 & freq. = 0.5 -> fixed
					// seed = 5 & freq. = 0.5 -> lost
}

// create a population of 500 individuals
1 early() {
	sim.addSubpop("p1", 500);
	targetMut = sample(p1.genomes, 500); // sample genomes -> initial frequency of mutation
	targetMut.addNewDrawnMutation(m1, 0); // place m1 mutation at locus 0
}

// output samples of 10 genomes periodically, all fixed mutations at end
2000 late() { }
